	.button {
display: inline-block;
text-align: center;
vertical-align: middle;
padding: 12px 24px;
border: 1px solid #a12727;
border-radius: 8px;
background: #ff4adb;
background: -webkit-gradient(linear, left top, left bottom, from(#ff4adb), to(#992727));
background: -moz-linear-gradient(top, #ff4adb, #992727);
background: linear-gradient(to bottom, #ff4adb, #992727);
text-shadow: #591717 1px 1px 1px;
font: normal normal bold 13px arial;
color: #ffffff;
text-decoration: none;
}

	.button:hover, .button:focus {
background: #ff59ff;
background: -webkit-gradient(linear, left top, left bottom, from(#ff59ff), to(#b62f2f));
background: -moz-linear-gradient(top, #ff59ff, #b62f2f);
background: linear-gradient(to bottom, #ff59ff, #b62f2f);
color: #ffffff;
text-decoration: none;
}

	.button:active {
background: #992c83;
background: -webkit-gradient(linear, left top, left bottom, from(#992c83), to(#982727));
background: -moz-linear-gradient(top, #992c83, #982727);
background: linear-gradient(to bottom, #992c83, #982727);
}

	h4 {
border-bottom: 1px solid black;
}

	h1 {
text-align: center;
}

	.button-2 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #a12727;
    border-radius: 8px;
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#992727));
    background: -moz-linear-gradient(top, #000000, #992727);
    background: linear-gradient(to bottom, #000000, #992727);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 13px arial;
    color: #ffffff;
    text-decoration: none;
}

	.button:hover, .button:focus {
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#b62f2f));
    background: -moz-linear-gradient(top, #000000, #b62f2f);
    background: linear-gradient(to bottom, #000000, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}

	.button:active {
    background: #000000;
    background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#982727));
    background: -moz-linear-gradient(top, #000000, #982727);
    background: linear-gradient(to bottom, #000000, #982727);
}

	.btn {

background-color: pink;
}

	.btn-group {
align-items: center;
}

	.btn-recept {
display:none;
}

	.breadcrumb {
background-color: #dee9fc;
}

	/* body {
background-color: #f8f9e5;
} */

@media screen and (max-width: 768px) {
		
		
		body {
	font-size: 10px;
	}	
	
		.button {
	padding: 4px;
	}
	
		.button-2 {
  	padding: 4px;
	}
	
		h4 {
	font-size: 11px;
	}
		.btn {
	font-size: 8px
	}
	
		img {
	height: 150px;
	width: 150px;
	}
}
	.button {
display: inline-block;
text-align: center;
vertical-align: middle;
padding: 12px 24px;
border: 1px solid #a12727;
border-radius: 8px;
background: #ff4adb;
background: -webkit-gradient(linear, left top, left bottom, from(#ff4adb), to(#992727));
background: -moz-linear-gradient(top, #ff4adb, #992727);
background: linear-gradient(to bottom, #ff4adb, #992727);
text-shadow: #591717 1px 1px 1px;
font: normal normal bold 13px arial;
color: #ffffff;
text-decoration: none;
}

	.button:hover, .button:focus {
background: #ff59ff;
background: -webkit-gradient(linear, left top, left bottom, from(#ff59ff), to(#b62f2f));
background: -moz-linear-gradient(top, #ff59ff, #b62f2f);
background: linear-gradient(to bottom, #ff59ff, #b62f2f);
color: #ffffff;
text-decoration: none;
}

	.button:active {
background: #992c83;
background: -webkit-gradient(linear, left top, left bottom, from(#992c83), to(#982727));
background: -moz-linear-gradient(top, #992c83, #982727);
background: linear-gradient(to bottom, #992c83, #982727);
}

	.col-2 {
border-top: 2px solid pink;
}
	.col-8 {
border-top: 2px solid pink;
border-left: 2px solid pink;
border-right: 2px solid pink;	
}

	h4 {
border-bottom: 1px solid black;
}

	h1 {
text-align: center;
}

	.button-2 {
display: inline-block;
text-align: center;
vertical-align: middle;
padding: 12px 24px;
border: 1px solid #a12727;
border-radius: 8px;
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#992727));
background: -moz-linear-gradient(top, #000000, #992727);
background: linear-gradient(to bottom, #000000, #992727);
text-shadow: #591717 1px 1px 1px;
font: normal normal bold 13px arial;
color: #ffffff;
text-decoration: none;
}

	.button:hover, .button:focus {
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#b62f2f));
background: -moz-linear-gradient(top, #000000, #b62f2f);
background: linear-gradient(to bottom, #000000, #b62f2f);
color: #ffffff;
text-decoration: none;
}
	.button:active {
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#982727));
background: -moz-linear-gradient(top, #000000, #982727);
background: linear-gradient(to bottom, #000000, #982727);
}

	.btn {
background-color: pink;
}

	.btn-group {
align-items: center;
}

	.btn-recept {
display:none;
}

	.breadcrumb {
background-color: #dee9fc;
}

	/* body {
background-color: #f8f9e5;
} */

@media screen and (max-width: 768px) {
		body {
	font-size: 10px;
	}	
		.button {
	padding: 4px;
	}
	
		.button-2 {
  	padding: 4px;
	}
	
		h4 {
	font-size: 11px;
	}
		.btn {
	font-size: 8px
	}
	
		img {
	height: 150px;
	width: 150px;
	}
}
