/* Banner en CSS */

.banner {
display: block;
}

.banner img {
width: 100%	
}
	
.banner-mobile {
display: none;
}

.banner-mobile img {
width: 100%
}

/* Navbar, Collumns en Text CSS */

.navbar {
background-color: #e0ebfc;
}

.navbar a {
color: black !important;
}

.btn-outline-success {
color: black;
border-color: black;	
}

.col-2 {
border-top: 2px solid pink;
}
.col-8 {
border-top: 2px solid pink;
border-left: 2px solid pink;
border-right: 2px solid pink;	
}

h1, h2, h3, p {
text-align: center;
}

h4 {
border-bottom: 1px solid black;
text-align: center;
}

/* Buttons, Forms, Body en Footer CSS */

.finish {
display: block;
margin-left: auto;
margin-right: auto;
}

.form-control {
display: inline;
width: 44%;		
}

#u-name {
display: block;	
}

#ww {
display: block;	
}

.button-2 {
display: inline-block;
text-align: center;
vertical-align: middle;
width: 100%;
padding: 12px 24px;
margin-bottom: 1px;
border: 1px solid #a12727;
border-radius: 8px;
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#992727));
background: -moz-linear-gradient(top, #000000, #992727);
background: linear-gradient(to bottom, #000000, #992727);
text-shadow: #591717 1px 1px 1px;
font: normal normal bold 13px arial;
color: #ffffff !important;
text-decoration: none;
cursor: pointer;
}

.button-2:hover, .button:focus {
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#b62f2f));
background: -moz-linear-gradient(top, #000000, #b62f2f);
background: linear-gradient(to bottom, #000000, #b62f2f);
color: #ffffff;
text-decoration: none;
}

.button-2:active {
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#982727));
background: -moz-linear-gradient(top, #000000, #982727);
background: linear-gradient(to bottom, #000000, #982727);
}

.navbar-form {
margin-top: 10px;	
}

.btn {
background-color: red;	
}

.breadcrumb {
background-color: #dee9fc;
}

.container-button {
display: table;
}

body {
font-family: 'Josefin Sans', sans-serif;
/* cursor: none; */
/* background-color: #f8f9e5; */
}

footer {
width: 100%		
}

footer p {
margin-top: 90px;
margin-bottom: 0px;
}

/* Scroll Top */

#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color: red;
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

#myBtn:hover {
background-color: #b71c0b;
}

/* Responsive CSS */

@media screen and (max-width: 992px) {
	
	.button-2 {
	width: 100%;
	}

	.col-md-2 img {
	height: 30px;
	width: 30px;	
	}
	
	.modal-footer img {
	height: 300px;
	width: 350px;
	}
	.modal-body img {
	height: 300px;		
	width: 300px;
	}
	
	.fbico img {
	height: 40px !important;
	width: 40px !important;
	display: inline;	
	}

	.twitico img {
	height: 37px !important;
	width: 37px !important;
	display: inline;
	}

}

/*@media screen and (min-width: 769px max-width: 988px) {
	
}*/

@media screen and (max-width: 768px) {	
	
	.banner  {
	display: none;			
	}
	
	.banner-mobile {
	display: block;	
	}
	
	body {
	font-size: 10px;
	}	
	
	.container-button {
	margin-left: auto;
	margin-right: auto;
	}
	
	.button-2 {
  	padding: 6px 10px !important;
	font-size: 11px; 
	width: 50%;
	}
	
	h4 {
	font-size: 11px;
	}
	
	.form-control {
	width: 43%;		
	}
	
	.img-fluid {
	height: 150px;	
	width: 300px;
	}
	
	.fbico {
	height: 40px !important;
	display: inline;	
	}

	.twitico {
	height: 37px !important;
	display: inline;
	}
}