.banner {
display: block;
width: 100%
}
	
.banner-mobile {
display: none;
width: 100%
}
	
.col-2 {
border-top: 2px solid pink;
}
.col-8 {
border-top: 2px solid pink;
border-left: 2px solid pink;
border-right: 2px solid pink;	
}

h1, h2, h3, p {
text-align: center;
}

h4 {
border-bottom: 1px solid black;
text-align: center;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

.form-control {
display: inline;
width: 44%;		
}

#u-name {
display: block;	
}

#ww {
display: block;	
}

.button-2 {
display: inline-block;
text-align: center;
vertical-align: middle;
width: 100%;
padding: 12px 24px;
margin-bottom: 1px;
border: 1px solid #a12727;
border-radius: 8px;
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#992727));
background: -moz-linear-gradient(top, #000000, #992727);
background: linear-gradient(to bottom, #000000, #992727);
text-shadow: #591717 1px 1px 1px;
font: normal normal bold 13px arial;
color: #ffffff !important;
text-decoration: none;
}

.button-2:hover, .button:focus {
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#b62f2f));
background: -moz-linear-gradient(top, #000000, #b62f2f);
background: linear-gradient(to bottom, #000000, #b62f2f);
color: #ffffff;
text-decoration: none;
}

.button-2:active {
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#982727));
background: -moz-linear-gradient(top, #000000, #982727);
background: linear-gradient(to bottom, #000000, #982727);
}

.breadcrumb {
background-color: #dee9fc;
}

.container-button {
display: table;
}

body {
font-family: 'Josefin Sans', sans-serif;
/* background-color: #f8f9e5; */
}

footer {
width: 100%		
}

footer p {
margin-top: 90px;
margin-bottom: 0px;
}

@media screen and (max-width: 992px) {
	
	.button-2 {
	width: 50%;
	float: right;
	}

	.col-md-2 img {
	height: 30px;
	width: 30px;	
	}
	
	.modal-footer img {
	height: 300px;
	width: 350px;
	}
	.modal-body img {
	height: 300px;		
	width: 300px;
	}
}

/*@media screen and (min-width: 769px max-width: 988px) {
	
}*/

@media screen and (max-width: 768px) {	
		
	.banner {
	display: none;			
	}
	
	.banner-mobile {
	display: block;	
	}
	
	body {
	font-size: 10px;
	}	
	
	.button {
	padding: 4px;
	}
	
	.container-button {
	margin-left: auto;
	margin-right: auto;
	}
	
	.button-2 {
  	padding: 6px 10px !important;
	font-size: 10px; 
	}
	
	h4 {
	font-size: 11px;
	}
	
	img {
	height: 150px;
	width: 150px;
	}
	
	.form-control {
	width: 43%;		
	}
	
	.img-fluid {
	height: 150px;	
	width: 300px;
	}
}